.DS_Store
/package
.env
.env.*
!.env.example
src/codes/*
.svelte-kit/*
build/*
bundle/*
server/build/*
src/lib/img/*
static/*
svelte.config.js
node_modules/*
src/lib/components/index.ts

pnpm-lock.yaml
package-lock.json
yarn.lock